In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gp
from glob import glob
from tqdm.notebook import tqdm

## Read simulation output

In [32]:
%%time
out = pd.DataFrame()
for f in tqdm(glob('../simulation_output/shen-strat2-v1/logger-vehicles*.csv')):
    out = out.append(pd.read_csv(f, usecols=range(8)))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=12.0), HTML(value='')))

CPU times: user 5.06 s, sys: 2.74 s, total: 7.8 s
Wall time: 8.17 s

In [35]:
print(out.shape)
out.head()

(5517123, 8)

,vehicleID,zoneType,startTime,endTime,originID,destID,totalDistance,visitedShelters
0,10,0,199,1106,75,75,3541.521035,1
1,113,0,799,1565,578,116,3920.485058,1
2,86,0,600,2101,158,557,8526.591175,1
3,41,0,399,2658,259,209,12258.598701,1
4,144,0,999,2816,170,168,16057.033185,1